/*загальні налаштування*/

:root {
    --primary-brand: #4D5AE5;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-text: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --white-color: #FFFFFF;

    --primary-font: Roboto, sans-serif;
    --logo-font: Raleway, sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul,
li,
p,
h1,
h2,
h3{
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background: var(--white-color);
    color: var(--text-color);
    font-family: var(--primary-font);
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    margin-top: none;
    
    /* outline: 2px solid black */
}

header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* logo header */
.logo-header {
    display: block;
    margin-right: 30px;
    padding-top: 24px;
    padding-bottom: 24px;
    
    color: var(--dark-color);
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;

}

.logo-header:focus {
    color: var(--primary-brand);
}

.web-header {
    color: var(--primary-brand);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
}

.web-header:focus {
    color: var(--dark-color);
}


/*site navigation*/

.site-nav {
    display: flex;
}

.site-nav .item:not(:last-child) {
    margin-right: 40px;
}

.site-nav .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    
    color: var(--dark-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--text-color);
}

.site-nav .link:active {
    color: var(--primary-brand);
}


/* contacts */

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .item:not(:last-child) {
    margin-right: 40px;
}

.contacts-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--primary-brand);
}

.main-nav {
    display: flex;
    align-items: center;
}

/*hero */
.hero {
    padding-top: 192px;
    padding-bottom: 192px;
    
    background-color: var(--dark-color);
    text-align: center;
    background-image:linear-gradient(rgba(46,47,66,0.7),rgba(46,47,66,0.7)), url(../img/studio/hero/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    margin-bottom: 48px;
    
    color: var(--white-color);
    fon-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-button {
    padding: 16px 32px;
    border-radius: 4px;
    border-color: transparent;

    color: var(--white-color);
    background-color: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    align-items: center;
    cursor: pointer;

}

.hero-button:hover,
.hero-button:focus {
    background: #4D5AE5;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
}

.hero-button:active {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


/* who we are */

.hidden-title {
    display: none;
}

.second-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

 /* h3 */
.section-secondary {
    margin-bottom: 8px;
    
    color: var(--dark-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

/* p */
.section-text {  
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* width: 264px ; */
}

.feature-list {
    display: flex;
    /* border-top: 120px; */
}

.feature-list .item:not(:last-child){
    margin-right: 24px;
}

.feature-list .item::before {
    content:'';
    display: block;
    width: 264px;
    height: 112px;
    background-repeat: no-repeat;
    background-position:center;
    padding: 24px;
    background-color: var(--light-color);
    border-radius: 4px;
    margin-bottom: 8px;
}

.feature-list .strategy::before{
    background-image: url(../img/studio/Who-we-are/antenna.svg);
}

.feature-list .punctuality::before{
    background-image: url(../img/studio/Who-we-are/clock.svg);
}

.feature-list .diligence::before{
    background-image: url(../img/studio/Who-we-are/diagram.svg);
}

.feature-list .technologies::before{
    background-image: url(../img/studio/Who-we-are/astronaut.svg);
}


/* what are we doing*/

/* h2 */
.section-title {
    margin-bottom: 72px;
    
    color: var(--dark-color);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

img {
    display: block;
}

.images-list {
    display: flex;
}

.technologies-photo {
    padding-bottom: 120px;
}

.images-list .item:not(:last-child) {
    margin-right: 24px;
}

/* Our Team */

.team-section {
    background-color: var(--light-color);
    /* height: min-content 732px; */
    padding-top: 120px;
    padding-bottom: 120px
    ;
}

/* h2 team-section */
.team-section .title {
    margin-bottom: 72px;
    
    color: var(--dark-color);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

/* h3  team-section*/
.team-section .secondary {
    margin-bottom: 8px;
    
    color: var(--dark-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

/* p team-section */
.team-section .text {   
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team{
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-list {
    display: flex;
    text-align: center; 
}

.team-list .item {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-list .item:not(:last-child) {
    margin-right: 24px;
}

.social-networks{
    display: flex;
    justify-content: space-around;
    padding-left: 16px; 
    padding-right: 16px;
}


.social-networks .list{
    display: block;
    width: 16px;
    height: 16px;
}

.social-networks .icon {
    background-color: #4D5AE5;
    padding: 12px;
    border-radius: 50%;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}
.social-networks .icon:hover,
.social-networks .icon:focus{
    background: #4D5AE5;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.social-networks .icon:active{
    background: #404BBF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.social-networks .icon:not(:last-child){
    margin-right: 24px;
}


/*customers*/

.logo-costomers {
    display: flex;
}

.logo-costomers .icon{
    width: 168px;
    height: 68px;
    padding: 16px 32px;
    fill: var(--subtle-text) ;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;
    cursor: pointer;
}

.logo-costomers .list:not(:last-child){
    margin-right: 24px ;
}

.logo-costomers .icon:hover,
.logo-costomers .icon:focus{
    fill: var(--primary-brand);
    border: 1px solid var(--primary-brand);
}

.container-section{
    padding-top: 120px;
    padding-bottom: 120px;
}


/* footer */

.bottom{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

footer {
    background-color: var(--dark-color);
}

.footer{
    margin-right: 120px;
}

/* logo footer*/

.logo-footer {
    margin-bottom: 16px;
    
    color: var(--light-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    
    display:inline-block;
}

.logo-footer:focus {
    color: var(--primary-brand);
}

.web-footer {
    color: var(--primary-brand);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    
    display:inline-block;
}

.web-footer:focus {
    color: var(--light-color);
}


.footer-text {
    width: 264px;
    color: var(--accent-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-h2{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    
    margin-bottom: 16px;
}

.social-networks-footer {
    display: flex;
}

.social-networks-footer .icon{
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.social-networks-footer .icon:not(:last-child){
    margin-right: 16px ;
}

.social-networks-footer .icon:hover,
.social-networks-footer .icon:focus{
    background: #4D5AE5;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.social-networks-footer .icon:active{
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.social-networks-footer .list{
    display: block;
    width: 24px;
    height: 24px;

}

/*p. portfolio*/


/* section button*/
.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px; 
}

.filter .button:not(:last-child){
    margin-right: 24px;
}

.filter-button {
    padding: 12px 24px;
    border: none;

    background-color: var(--light-color);
    color: var(--primary-brand);
    border: 1px solid #E7E9FC;
    border-radius: 4px;

    font-family: 'Roboto', sans-serif; 
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--primary-brand);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/* Projects */

.projects-img {
    margin-bottom: 32px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap; 
}

.projects-text{
    padding-left: 16px;
    padding-bottom: 32px;
}

.projects-list .list{
    width: 360px;

    border: 0.5px solid var(--light-color);
    /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08); */
}

.projects-list .list:hover,
.projects-list .list:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.projects-list .list:not(:nth-child(3n)) {
    margin-right: 24px;
}

.projects-list .list:not(:nth-last-child(-n + 3)) {
    margin-bottom: 48px;
}




.white-text {
    color: var(--light-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}